{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block css-file %}
  {{ block.super }}
  <link rel="stylesheet/less" type="text/css" href="{% static 'choice/css/choice.less' %}">
{% endblock %}
{% block js-file %}
  {{ block.super }}
  <script src={% static 'underscore/underscore.js' %}></script>
{% endblock %}
{% block main %}
<div class="left col-md-3 content select-stock">
  <div class="form-group">
    <input class="form-control" id="choice-search" type="text" name="search" placeholder="{% trans '搜索公司/代码' %}">
  </div>
  <div class="stock-list" id='stock-list'>
  </div>
</div>
<div class="right col-md-9 content">
  <div id="hot-chart">
  </div>
</div>

<div class="modal fade" id="watchlist" tabindex="-1" role="dialog" aria-labelledby="watchlistLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="watchlistLabel">{% trans '加入列表' %}</h4>
      </div>
      <div class="modal-body">
      <select name="to_list" class="form-control" id='watch-select'>
        {% for i in default_result.my_watch_list %}
          <option value="{{ i.id }}">{{ i.list_name }}</option>
        {% endfor %}
      </select>
      <span class='instr_error'></span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans '取消' %}</button>
        <button type="button" class="btn btn-primary watch-list-ok">{% trans '保存' %}</button>
      </div>
    </div>
  </div>
</div>

<script type='javascript/template' id='tpl-stcok'>
  <ul class="topnav list-unstyled">
    <% _.each(data.country_to_exchange, function (i, j) { %>
      <li class='country'><a href="#" class='country-a'><%= j %></a>
        <ul class='list-unstyled'>
        <% _.each(i, function (k) { %>
          <li class='exchange-name' style="z-index: 100"><a href="#" class='exchange-a'><%= k %></a>
            <ul class='list-unstyled'>
            <% _.each(data.exchange_to_industry[k], function (o) { %>
              <li class='indu-name'><a href="#" class='indu-a'><%= o %></a>
                <ul class='list-unstyled'>
                <% _.each(data.industry_to_instr[o], function (d) { %>
                  <li class='instrument-name'><a href="#"><%= d %><span class="add" data-toggle="modal" data-target="#watchlist">加入列表</span></a></li>
                  <% }) %>
                </ul>
              </li>
            <% }) %>
            </ul>
          </li>
        <% }) %>
        </ul>
      </li>
    <% }) %>
  </ul>
</script>
<script src='{% static 'choice/js/d3.v3.min.js' %}'></script>
<script src='{% static 'choice/js/hot-chart.js' %}'></script>
<script src='{% static 'choice/js/choice.js' %}'></script>
<script src={% static 'echarts/echarts.js' %}></script>
<script src='{% static 'choice/js/line_charts.js' %}'></script>
<script src='{% static 'jquery/scriptbreaker-multiple-accordion-1.js' %}'></script>
{% endblock %}

