.main {
  .new-tactics {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .simulate-main {
    width: 100%;
    height: 100%;
    margin: auto;
  }
  .new-tactics + .new-tactics {
    margin-top: 5px;
  }
  div + select, select + div, div + button, div + div {
    margin-left: 10px;
  }
  .tactics-arg {
    width: 55%;
  }
  .args-text {
    width: 100%;
  }
  .instr_code {
    width: 60px;
  }
  .relation {
    margin-right: 28px;
  }
  button + button {
    margin-left: 10px;
  }
  .btn-start {
    float: right;
  }
  .tactics-cond {
    margin-top: 20px;
    display: none;
  }
  .tactics-cond, .trading-record {
    display: none;
  }
  .result {
    width: 40%;
    overflow: hidden;
  }
  img {
    width: 100%;
  }
}

.form-control {
  height: 32px;
  padding-top: 2px;
  padding-right: 16px
}
